<div class="fond" id="smoothscroll">	
  <div class="button-flip">	
  </div>	
</div>

<%= react_component(@lesson.name, props: { description: @lesson.description } , prerender: false) %>


<div class="footer-info" id="mark-complete">
  <% if @completed && (@completed.user_id == current_user.id) && @completed.completed == true%>
  <p><span class='lesson-complete'>Lesson Complete <%= l(@completed.created_at, format: :short) %> </span></p>
    <%= link_to 'mark incomplete', togglelesson_path(@completed), :method => :put %>

  <% elsif @completed && (@completed.user_id == current_user.id) && @completed.completed == false%>
   <%= link_to 'mark complete', togglelesson_path(@completed), :method => :put %>
  <% else %>
    <%= render :partial => 'completed_lessons/form' %>
  <% end %>
  <%= button_to 'Back', lessons_path, :method => "get", :class => "btn back-btn" %>
</div>

