<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lesson.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lesson.description %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @lesson.slug %>
</p>

<p>
  <strong>Mark as complete here:</strong>
  <%= @lesson.slug %>
</p>

<%= render partial: 'completed_lessons/form', locals: { comment: @comment } %>


<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
