<%= form_with(model: @completed_lesson, local: true) do |form| %>
  
  <%= form.hidden_field :lesson_id, value: 1  %>
  
  <div class="field">
    <%= form.label :completed %>
    <%= form.check_box :completed, id: :completed_lesson_completed %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
