<%= form_with(model: @completed_lesson, local: true) do |form| %>

  <% if @completed_lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(completed_lesson.errors.count, "error") %> prohibited this completed_lesson from being saved:</h2>
      <ul>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id  %>
  <%= form.hidden_field :completed  %>
  <%= form.hidden_field :lesson_id  %>

  <div>
    <%= form.submit 'mark complete', class: 'btn mark-complete' %>
  </div>
<% end %>
