<p id="notice"><%= notice %></p>

<h1>Completed Lessons</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Lesson</th>
    </tr>
  </thead>

  <tbody>
    <% @completed_lessons.each do |completed_lesson| %>
      <tr>
        <td><%= completed_lesson.lesson&.name %></td>
        <td><%= link_to 'Show', completed_lesson %></td>
        <!--<td><%= link_to 'Edit', edit_completed_lesson_path(completed_lesson) %></td>-->
        <td><%= link_to 'Reset', completed_lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'New Completed Lesson', new_completed_lesson_path %>-->
