<!DOCTYPE html>
<html>
  <head>
    <title>Scimo</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'container-bundle' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/container">ScienceMotions</a>
      </div>

      <div class="dropdown pull-right">
        <button class="btn btn-secondary dropdown-toggle ml-auto" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <p class="navbar-text pull-right">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Completed lessons', completed_lessons_url, :class => 'navbar-link dropdown-item' %> |
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link dropdown-item' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link dropdown-item'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link dropdown-item'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link dropdown-item'  %>
      <% end %>
      </p>
     </div>
  </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/container">home</a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/lessons">lessons</a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/team">team</a></li>
        </ul>
      </div>

    </div>
  </nav>

  <div class="container">

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

  </div>

      <footer>
      <div class="container">
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </body>
</html>
