<h1>Chemistry#indicators</h1>
<p>Find me in app/views/chemistry/indicators.html.erb</p>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'skrollr.min.js' %>

# var lessonTitle
# id find(lessonId) {
#     lessonToShow = lessonId
# }


<%= react_component("Lessons", prerender: false) %>
<%= javascript_pack_tag 'application' %>

<%= render :partial => 'completed_lessons/form' %>
